@font-face {
  font-family: 'ESRebondGrotesque';
  src: url('/fonts/ESRebondGrotesque-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ESRebondGrotesque';
  src: url('/fonts/ESRebondGrotesque-Bold.otf') format('opentype');
  font-weight: 700;
}
